body {
  font-family: "Segoe UI", sans-serif;
  background: #0e0e0e;
  color: #fff;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
  text-align: center;
}
input, button {
  margin: 6px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}
input[type="file"] {
  background: #1f1f1f;
  color: #ccc;
}
button {
  background: #0078ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: #005ecc;
}
#downloadLinks a {
  display: block;
  margin-top: 10px;
  color: #00ffcc;
  text-decoration: none;
}
